html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.05em;
    color: #666666;
}

  .lock {
    position: relative;
    overflow: hidden;
  }

  .lock::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    width: 100%;
    height: 100%;
    content: '';

    background: var(--body-menu-color);
  }

h1, h2, h3 {
    margin: 0;

    font-weight: normal;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

/* General container */
.general_container {
    max-width: 1420px;
    margin: 0 auto;

    overflow: hidden;
}

.tittle_section {
    margin-bottom: 10px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    color: #95945b;
}

.email_link,
.git_link,
.map_link,
.project_link,
.course_link    {
    text-decoration: none;
    color: #95945b;
}

.font_awesome {
    color: #5e694f;
}

/* Header */
.header_inner {
    position: relative;
    display: flex;
    width: 100%;
}

.introduce_image {
    width: 30%;
    min-height: 300px;
    min-width: 330px;
    background-image: url('assets/img/myPhotoBig.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.introduce_wrap {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 67%;
    padding-right: 20px;
}

.nav_list {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
    height: 30px;
}

.nav_link {
    position: relative;

    display: block;

    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #95945b;
}

.nav_link::after {
    position: absolute;
    top: 25px;
    left: 0;
    z-index: 1;

    display: block;
    width: 0%;
    height: 2px;

    content: "";
    opacity: 0;
    background-color: #95945b;
    transition: opacity .2s linear;
}

.nav_link:hover::after {
    opacity: 1;
    animation: line 0.5s;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

.menu-toggle {
    position: absolute;
    right: calc((65 / 1024) * 100%);
    top: 20px;
    z-index: 5;

    display: none;
  }

.menu-toggle:hover .menu-toggle-line {
    background-color: #95945b;
}

.menu-toggle-line {
    display: block;
    width: 50px;
    height: 3px;
    margin: 10px auto;
    background-color: #95945b;
    transition: all 0.4s linear;
}

.menu-toggle.active .menu-toggle-line:nth-child(2){
    opacity: 0;
}

.menu-toggle.active .menu-toggle-line:nth-child(1){
    transform: translateY(13px) rotate(45deg);
}

.menu-toggle.active .menu-toggle-line:nth-child(3){
    transform: translateY(-13px) rotate(-45deg);
}

.menu-toggle.active:hover .menu-toggle-line {
    background-color: #95945b;
}

.introduce_statement {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-self: center;
    width: 80%;
}

.introduce_statement_content {
    padding-bottom: 20px;
    text-align: justify;
}

/* Introduce */
.introduce {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 100%;
}

.introduce_tittle {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.introduce_transform_main {
    position: relative;
    left: -35px;

    width: 70%;
    padding: 15px 80px;

    border-radius: 10px 5px;
    transform: skewX(20deg);
    background: linear-gradient(96.49deg, #5e694f 5.08%, #f2f29d 100.01%);
}

.introduce_tittle_main {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.7;
    text-transform: uppercase;
    color: #ffffff;

    transform: skewX(-20deg);
}

.first_name {
    font-weight: 900;

    transform: none;
}

.work_position {
    font-size: 14px;
    font-weight: 300;
}

.introduce_transform_secondary {
    position: relative;
    right: -10px;

    align-self: stretch;
    margin-left: -20px;
    width: 35%;

    border-radius: 10px;
    transform: skewX(20deg);
    background: linear-gradient(102.76deg, #ececeeb3, rgba(248, 247, 248, 0) 84.59%);
}

.introduce_tittle_secondary {
    position: absolute;
    top: 50%;
    left: 10%;

    transform: translate(0, -50%) skewX(-20deg);
}

/* Main */

.main_inner {
    display: flex;
    justify-content: space-between;

    width: 100%;
}

/* Column one */
.column_one {
    width: 30%;
    min-width: 330px;
    padding-top: 30px;

    background: rgba(236, 236, 238, 0.4);
}

.pro_skill,
.project,
.language,
.contact        {
    padding: 0 0 20px 70px;
}

.item_skill {
    padding-top: 15px;
}

.item_skill:first-child {
    padding-top: 0px;
}

.stars span:nth-child(1),
.stars span:nth-child(2),
.stars span:nth-child(3) {
    color: #5e694f  
}

.stars span:nth-child(4),
.stars span:nth-child(5) {
    color: #999999
}

.js span:nth-child(4) {
    color: #5e694f
}

.node span:nth-child(2),
.node span:nth-child(3) {
    color: #999999  
}

.ts span:nth-child(2),
.ts span:nth-child(3) {
    color: #999999  
}

/* Column two */
.column_two {
    width: 70%;
    padding: 30px 10px;
}

.education_item input,
.work_item input {
	display: none;
}

.education_item label,
.work_item label {
	cursor: pointer;
	z-index: 2;
    display: block;
    margin-bottom: 5px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    line-height: 2;
    text-transform: uppercase;
    color: #262626;
}

.education_item label::after,
.work_item label::after {
    position: absolute;
    top: 30px;
    left: -5px;
    z-index: 1;

    display: block;
    width: 0%;
    height: 5px;

    content: "";
    opacity: 0;
    background: linear-gradient(96.49deg, #5e694f 5.08%, #f2f29d 100.01%);

    transition: opacity .2s linear;
}

.education_item label:hover::after,
.work_item label:hover::after {
    opacity: 1;
	animation: line 4s;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

.education_item:hover .education_year,
.work_item:hover .work_year {
    color: #95945b;
}

.education_item input:checked + label::after,
.work_item input:checked + label::after {
    opacity: 1;
    width: 100%;
}

.education_item article,
.work_item article {
	height:0px;
	overflow:hidden;
	z-index: 1;
}

.education_item input:checked ~ article,
.work_item input:checked ~ article {
	height: auto;
}


.work_experience,
.education        {
    position: relative;

    padding: 0 0 15px 100px;
}

.work_item,
.education_item {
    position: relative;

    padding-bottom: 10px;
}

.tittle_image {
    position: absolute;
    left: 70px;

    color: #5e694f;
}

.education:hover .tittle_image,
.work_experience:hover .tittle_image,
.project:hover .tittle_image {
    transform: scale(1.3);
}

.work_year,
.education_year {
    position: absolute;
    left: -75px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 600;
    color: #999999;
}

.education_post {
    margin-bottom: 5px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #262626;
}

.work_place,
.education_place {
    margin: 10px 0;

    font-size: 14px;
    color: #9B9B9B;
}

.work_description,
.education_description {
    margin-bottom: 20px;

    text-align: justify;
}

.project {
    position: relative;
    padding: 0 0 15px 100px;
}

.project_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.project_link {
    flex-basis: 45%;

    min-width: 350px;
}

.project_img {
    display: block;
    width: 100%;
    
    object-fit: cover;

    transform: scale(0.95);
    transition: transform 0.5s linear;

}

.project_img:hover {
    transform: scale(1);
}

.code_example {
    margin-top: 40px;
    padding: 30px 0 0 70px;

    background: rgba(236, 236, 238, 0.4);  
}

.code {
    margin: 0;
}

.js-code {
    display: block;
}

/* Footer */
.footer {
  margin-bottom: 0;
  margin-top: auto;
}

.footer_inner {
    display: flex;
    align-items: center;
}

.footer_inner_item {
    flex: 1 1;
    padding-left: 70px;
}

.image_logo {
    width: 10%;
    height: 10%;
}

@keyframes line {
    100% {
        width: 100%;
    }
}

@media (max-width: 1024px) {
/* General container */
.general_container {
    max-width: 1024px;
}

.tittle_image {
    left: 40px;
}

.nav_wrap {
    position: fixed;
    top: 0px;
    right: -700px;
    z-index: 4;
    overflow: auto;

    display: flex;
    justify-content: start;
    align-items: start;
    height: 100%;
    width: calc(100% - 330px);
    max-height: 100vh;
    padding: 100px 0 0 100px;

    transition: all 1s ease 0s;

    background: #ffffff;
}

.nav_wrap.active {
    right: 0px;
}

.nav_list {
    display: block;
}

.nav_item {
    padding-bottom: 30px;
}

.menu-toggle {
    display: block;
    cursor: pointer;
}

.introduce_wrap {
    justify-content: center;
}

.introduce_statement {
    display: flex;
    justify-content: start;
    align-self: center;
    width: 80%;
}

.column_one {
    min-width: 300px;
}

.pro_skill,
.language,
.contact,
.code_example {
    padding: 0 0 20px 30px;
}

.work_experience,
 .education,
 .project {
    padding: 0 0 15px 70px;
}

.work_year, .education_year {
    position: absolute;
    left: -55px;
}

}

@media (max-width: 768px) {
    .header_inner {
        flex-wrap: wrap;
        gap: 20px;
    }

    .introduce_wrap {
        width: 100%;
    }

    .nav_wrap {
        width: 100%;
    }

    .main_inner {
        flex-wrap: wrap;
    }

    .column_one {
        display: flex;
        justify-content: center;
        flex-wrap: wrap ;
        width: 100%;
    }

    .pro_skill,
    .language,
    .contact {
        width: 100%;
        padding-left: 70px;
    }

    .column_two {
        width: 100%;
    }

    .project_inner {
        margin-left: -35px;
    }

    .js-code {
        overflow-y: hidden;
        overflow-x: auto;
        font-size: 14px;
        line-height: 1;
        letter-spacing: 0.01em;
    }

    .footer_inner {
        flex-wrap: wrap;
    }

    .footer_inner_item {
        padding-left: 30px;
    }
}
